*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 70px;
    margin: 20px 0;
    color: red;
    font-style: italic;

}
h2{
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
    color: red;
    font-style: italic;
}
div{
    margin: 300px 0;
}
a{
    text-decoration: none;
    color: white;
}
a.button{
    background-color: red;
    color: black;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 5px 3px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 45%;
}
body{
    background-image: url(../web3/apocalypse-5851414_1280.jpg);
    color: white;  
}